src/*~
*~
doc/html
doc/latex
*Makefile*
*.orig
.ciscript
ci.*
jambs*

# Eclipse project generated
.cproject
.project
.metadata/
.settings/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
build/
bld/
[Bb]in/
[Oo]bj/

# Dependences
Brion/
Keyv/
Lexis/
Lunchbox/
MVDTool/
Pression/
ReTo/
Servus/
SimIL/
ZeroBuf/
ZeroEQ/
gmrvlex/
prefr/
scoop/
vmmlib/
